# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CortopiaAsteroids.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Spel\VR\Unity\CortopiaAsteroids\.idea\.idea.CortopiaAsteroids\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
